@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');


/* BASE STYLES */
*{
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spinner {
  display: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

:root{
  --text-color: #eca642;
  --space-color: #eca642
}

.body_screen {
  height: calc(100vh - 3.5rem);
}
.auth_form label {
  font-weight: 600;
}
.profile_avatar {
  width: 200px !important;
  height: 200px !important;
  background-color: #eca54257 !important;
}

.camera_icon {
  width: 20px !important;
  height: 20px !important;
}
.usersAvatar {
  width: 2.5rem !important;
  height: 2.5rem !important;
}
.upload_image {
  width: 30px !important;
  height: 30px !important;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.camera__logo{
  color: rgba(0, 0, 0, 0.4);

}

.stroke{
  -webkit-text-stroke: .1rem #eca642;

}

/* INDEX STYLES */
.index__image{

}
.memphis_bg{
  background-image: url('/public/memphis_lgn.jpg');
  background-size: 800px;
  background-repeat: repeat !important;
}

.auth__banner-title{
  font-weight: 600;
  line-height: 1.2
}
.auth__banner-features-text{
  font-weight:700;
  line-height: 1.2;
  -webkit-text-stroke: .1rem #eca642;

}

/* SIDE MENU */
.sidemenu__contents{
  height: calc(100% - 6rem)
}
.sidemenu__icon{
  font-size: 4rem !important;
}

/* DROP */
.avatar{
  width: 2.8rem !important;
  height: 2.8rem !important
}
.drop__icon{
  font-weight: 200 !important
}

.row_span_2{
  grid-row: 1 / span 2;
}

.col_span_2{
  grid-column: 1 / span 2;
}

/* WIDGETS */
.recommended__avatar{
  width: 2.3rem  !important;
  height: 2.3rem !important
}

/* PROFILE */
.profilePic__background{
  position: relative;
  width: 100% ;
  padding-top: 35%;
  background-size: cover;
  background-position: center;
}
.profilePic__backgroundLayer{
  position: absolute;
  top:0;
  height: 100%;
  left:0;
  right:0;
}
.profilePic__backgroundImage{
  position: relative;
  width: 100%;
  height: 100%
}
.profilePic__avatarContainer{
  position: absolute;
  top: 72.5%;
  left: 1rem;
  width:20% !important;
  height: 0;
  padding-top: 20% ;

}
.profilePic__avatar{
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  width: 100% !important;
  border: #ffffff 5px solid !important;
  box-sizing: border-box;
  background-color: rgb(196, 216, 216)
}

.photoLogo{
  position: absolute !important;
  opacity: 0.5 !important;
  z-index: 2 !important;
  box-sizing: border-box !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-size: 2rem !important;
  
}

.photoLogoContainer{
  position: relative ;
  width: 100%;
  height: 100%;
}

.titleBar{
  width: auto;
  height: 4px;
  margin-top: 0.6rem;
  border-radius: 40px;
}

.pageTitle{
  width:fit-content;
  cursor: pointer;
  padding: 1.3rem 2rem 0
}
.pageTitle > p{
  color: rgb(87, 85, 85);
}

.bold{
  font-weight: 700;
}

.hovering {
  display: none;
}
.pageTitle:hover .hovering{
  display:block;
  
}

/* SCROLLL BAR */
::-webkit-scrollbar{
  width: .60rem;
  background-color: gainsboro;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
   background-color: rgb(105, 104, 104);
;

}
@tailwind base;
@tailwind components;
@tailwind utilities;
